h1 {
  color: forestgreen;
}
h2 {
  display: inline;
  font-size: 60px;
  color: rgb(35, 76, 129, 0.8);
}
small a {
  font-family: monospace;
  text-decoration: none;
  color: rgb(3, 161, 3);
}
.weather-app {
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  border: solid;
  border-color: rgb(166, 221, 239, 0.8);
  border-radius: 10px;
  background: linear-gradient(
    109.6deg,
    rgb(17, 151, 147, 0.5) 11.2%,
    rgb(154, 214, 212, 0.5) 55.4%,
    rgb(255, 233, 171, 0.5) 100.2%
  );
}
.current-city-button {
  border-radius: 8px;
  border-width: 2px;
  border-color: crimson;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 197, 61) 0%,
    rgb(255, 94, 7) 90%
  );
}
.search-city-text {
  background: linear-gradient(
    90deg,
    rgb(2, 250, 70, 0.4) -1.7%,
    rgb(2, 238, 250, 0.4) 21.1%,
    rgb(174, 8, 237, 0.4) 46%,
    rgb(237, 8, 117, 0.4) 64.2%,
    rgb(237, 8, 117, 0.4) 81%,
    rgb(248, 136, 0, 0.4) 97.2%
  );

  border-radius: 8px;
  border-width: 2px;
  border-color: rgb(3, 253, 253, 0.1);
  padding: 7px;
}

.search-city-button {
  border-radius: 8px;
  border-width: 2px;
  border-color: aqua;
  background: linear-gradient(to top, #113769 0%, #648fb1 100%);
}
.place-row {
  padding: 30px 0;
  background-color: rgb(1, 252, 252, 0.1);
  border-radius: 8px;
}
.temp-row {
  background-color: rgb(107, 107, 173, 0.1);
  border-radius: 8px;
  padding: 30px 0;
}
ul.date {
  list-style: none;
  font-family: monospace;
  font-size: 20px;
  font-weight: 500;
  padding-left: 3px;
}
.main-icon {
  text-align: center;
  font-size: 60px;
  color: rgba(8, 66, 143, 0.6);
}
.main-degree {
}
.conditions {
  list-style: none;
  text-align: left;
}
.forecast-icon {
  text-align: center;
  font-size: 40px;
  color: rgba(8, 66, 143, 0.6);
}
