h1 {
  color: #ec6e4d;
  font-size: 60px;
}
h2 {
  display: inline;
  font-size: 60px;
  color: #c45a40;
}
ul {
  padding: 0;
  list-style: none;
}
li::first-letter {
  text-transform: capitalize;
}
small a {
  font-family: monospace;
  text-decoration: none;
  color: #ec6e4d;
}
/* CLASSES*/
.forecast {
  text-transform: capitalize;
}

.weather-app {
  max-width: 1000px;
  min-width: 850px;
  margin: 40px auto;
  padding: 30px;
  border: solid;
  border-color: #ec6e4d;
  border-radius: 10px;
  background: linear-gradient(
    109.6deg,
    rgb(17, 151, 147, 0.5) 11.2%,
    rgb(154, 214, 212, 0.5) 55.4%,
    rgb(255, 233, 171, 0.5) 100.2%
  );
}

.search-city-text {
  background: linear-gradient(
    to top,
    rgb(17, 55, 105, 0.1) 0%,
    rgb(100, 143, 177, 0.1) 100%
  );

  border-radius: 8px;
  border-width: 2px;
  border-color: #ec6e4d;
  padding: 5px;
}

.search-city-button {
  border-radius: 8px;
  border-width: 2px;
  border-color: rgb(0, 255, 255, 0.5);
  background: linear-gradient(
    to top,
    rgb(17, 55, 105, 0.8) 0%,
    rgb(100, 143, 177, 0.8) 100%
  );
}
.place-row {
  padding: 30px 0;
  background-color: rgb(1, 252, 252, 0.1);
  border-radius: 8px;
}
.temp-row {
  background-color: rgb(107, 107, 173, 0.1);
  border-radius: 8px;
  padding: 30px 0;
}

.date {
  list-style: none;
  padding-left: 3px;
  margin-top: 34px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(17, 55, 105, 0.8);
}

.active {
  color: black;
  text-decoration: none;
  cursor: default;
}
.temp-link {
  margin-left: -3px;
  margin-bottom: 20px;
}

.conditions {
  list-style: none;
  line-height: 28px;
  color: #ec6e4d;
}
.emoji {
  font-size: 20px;
  margin-right: 20px;
  text-align: right;
}
.desc,
.hum,
.wind {
  font-size: large;
  text-align: left;
  font-weight: bold;
}
.forecast-icon {
  text-align: center;
  font-size: 40px;
  color: rgba(8, 66, 143, 0.6);
}
.card,
li.list-group-item {
  background-color: rgb(17, 55, 105, 0.2);
  color: rgb(17, 55, 105, 0.8);
  font-size: 15px;
}
.forecast-emoji {
  font-size: 20px;
  margin-right: 8px;
}
.col-2.forecast {
  flex: 0 0 auto;
  width: 20%;
  padding: 0;
}
