h1 {
  color: rgb(53, 134, 114);
  font-size: 60px;
}
h2 {
  display: inline;
  font-size: 60px;
  color: rgb(35, 76, 129, 0.8);
}
ul {
  padding: 0;
  list-style: none;
}
li.first-letter {
  text-transform: capitalize;
}
small a {
  font-family: monospace;
  text-decoration: none;
  color: rgb(3, 161, 3);
}
/* CLASSES*/
.weather-app {
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  border: solid;
  border-color: rgb(166, 221, 239, 0.8);
  border-radius: 10px;
  background: linear-gradient(
    109.6deg,
    rgb(17, 151, 147, 0.5) 11.2%,
    rgb(154, 214, 212, 0.5) 55.4%,
    rgb(255, 233, 171, 0.5) 100.2%
  );
}

.search-city-text {
  background: linear-gradient(
    to top,
    rgb(17, 55, 105, 0.1) 0%,
    rgb(100, 143, 177, 0.1) 100%
  );

  border-radius: 8px;
  border-width: 4px;
  border-color: rgb(0, 255, 255, 0.5);
  padding: 5px;
}

.search-city-button {
  border-radius: 8px;
  border-width: 2px;
  border-color: rgb(0, 255, 255, 0.5);
  background: linear-gradient(
    to top,
    rgb(17, 55, 105, 0.8) 0%,
    rgb(100, 143, 177, 0.8) 100%
  );
}
.place-row {
  padding: 30px 0;
  background-color: rgb(1, 252, 252, 0.1);
  border-radius: 8px;
}
.temp-row {
  background-color: rgb(107, 107, 173, 0.1);
  border-radius: 8px;
  padding: 30px 0;
}
.date {
  list-style: none;
  padding-left: 3px;
  font-size: 20px;
  font-weight: 500;
}

.main-degree .active {
  color: black;
  text-decoration: none;
  cursor: default;
}
.conditions {
  list-style: none;
  text-align: left;
}
.forecast-icon {
  text-align: center;
  font-size: 40px;
  color: rgba(8, 66, 143, 0.6);
}
.card,
li.list-group-item {
  background-color: rgb(17, 55, 105, 0.2);
}
